* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*cart*/
#cart {
	margin-top: 56px;
}

#cart #title{
	height: 100px;
	background-color: #f2f2f2;
	padding: 30px;
}
#cart #title h1{
	display: inline-block;
	padding-bottom: 8px;
	border-bottom: 8px solid #000;
}
#cart #contain{
	margin: 30px auto;
	height: 900px;
	width: 90%;
	border: 2px solid #000;
	padding: 20px;
}
#cart #contain #bill{
	display: none;
}
#cart #contain #bill h2{
	text-align: center;
}
#cart #contain #bill .billcontent{
	border:  1px solid #000;
	padding: 20px;
	width: 100%;
	margin: 20px 0;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
} 
#cart #contain #bill .billcontent div:nth-child(1){
	width: 40%;
	text-align: left;
}
#cart #contain #bill .billcontent div{
	width: 20%;
	text-align: center;
}
#cart #contain #carttable{
	border-spacing: 0;
	width: 100%;
}
#cart #contain #carttable th, td{
	border-bottom: 1px solid #000;
	padding: 10px;
	vertical-align: middle;
}
#cart #contain #carttable td:not(:nth-child(2)){
	width: 150px;
	text-align: center;
}

#carttable .table-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

#cart #contain #carttable td img{
	height: 50px;
}
#cart #contain #carttable td button{
	height: auto;
	width: 30px;
	line-height: 25px;
	font-size: 15pt;
	text-align: center;
	border: 2px solid #000;
	background: none;
	cursor: pointer;
	outline: none;
}
#cart #contain #carttable td button:active{
	border: 2px solid #ff4700;
	color: #ff4700;
}
#cart #contain #carttable td input{
	height: 25px;
	width: 50px;
	font-size: 12pt;
	text-align: center;
	border-left: none;
	border-right: none;
	background: none;
}
#cart #contain .total{
	text-align: right;
	color: #000;
	font-weight: bold;
	height: 50px;
	font-size: 12pt;
	margin-top: 20px;
}
#cart #contain>button{
	height: 50px;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
	padding: 0 10px;
	border: 2px solid #000;
	border-radius: 10px;
	background: #000;
	cursor: pointer;
	margin-top: 20px;
	transition: 0.6s;
}
#cart #contain>button:hover{
	transform: scale(0.8);
	color: #000;
	background: #fff;
}


